%inputbox {
    padding: 10px;
    margin-left: 10px;
    border-radius: $br--default;
}

%box {
    background-color: $dark-purple;
    border: 1px solid $white;
    border-radius: $br--default;
    padding: 20px;
}

%cherryText {
    color: $cherry; 
    font-weight: $font-weight--bold;
}