
@mixin grid (
    $disp: grid,
    $gap: null,
    $temp-col: null,
    $temp-row: null) {
        display: $disp;
        grid-gap: $gap;
        grid-template-columns: $temp-col;
        grid-template-row: $temp-row; 
        @content; 
    }
    
