@import './Utilities/Mixins.scss'; 
@import './Utilities/Variables.scss';
@import './Utilities/Extends.scss';

* {
  box-sizing: border-box;
}

body {
  background: $dark-blue;
  color: $white;
}

.App {
  padding: 50px;
  animation: fadeOut 3s;

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 40px;
  }

  label, .item {
    @extend %cherryText;
    font-size: 30px;
  }
}

.container {
  @include grid($gap: 20px);
  @extend %box;

  .item {
    span {
      color: $white; 
      margin-left: .4em;
    }
    span#pound {
      margin-left: 0;
    }
  }
  .used {
    margin: 10px 0 5px 10px;
    padding: 5px;
  }
}

.container1, .container2 {
  margin-bottom: 30px;
}

input {
  @extend %inputbox;
}
